{% extends 'base.html' %}
{% block content %}

<div class="container">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">
                {{ec.username}} 
            </h1>
        </div>
        <p>
            <form action="start-election/" method="post">
                {% csrf_token %}
                <input name="" id="" class="btn btn-success m-2" 
                type="submit" value="Start election">
            </form>
            <form action="end-election/" method="post">
                {% csrf_token %}
                <input name="" id="" class="btn btn-danger m-2" 
                type="submit" value="END election">
            </form>
        <a name="" id="" class="btn btn-primary" href="add-post/" role="button">
            add post
        </a>
        <a name="" id="" class="btn btn-primary" href="add-candidate/" role="button">
            add candidate
        </a>
        <a name="" id="" class="btn btn-primary" href="search-post/" role="button">
            remove post
        </a>
        <a name="" id="" class="btn btn-primary" href="search-candidate/" role="button">
            remove candidate
        </a>
        </p>
        <div class="container">
            <h2 class="lead text-muted">
                total voters = {{vote_stat.total_voters}}
            </h2>
            <h2 class="lead text-muted">
                total voters voted = {{vote_stat.total_voters_voted}}
            </h2>
        </div>
    </section>
</div>

{% endblock %}