<!-- Home page of election coordinator. -->

{% extends 'base.html' %}
{% block content %}

<div class="container">
    <section class="jumbotron text-center">
        <div class="container p-4">
            <h1 class="jumbotron-heading">
                {{ec.username}}
            </h1>
        </div>
        <div class="row p-2">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Start Election</h5>
                        {% if not user.election_start_time %}
                        <p class="card-text">You can start election Here. Time of start will be displayed in navbar.</p>

                        <form action="start-election/" method="post">
                            {% csrf_token %}
                            <input name="" id="" class="btn btn-success m-2" type="submit" value="Start election">
                        </form>
                        {% else %}
                        <p class="card-text">Election Already started.</p>
                        <div class = "text-muted">
                            {{user.election_start_time}}
                        </div>
                        {% endif %}

                    </div>
                </div>
            </div>
            {% if user.election_start_time %}
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">End Election</h5>
                        {% if not user.election_end_time %}
                        <p class="card-text">You can END election Here. After ending result page will be accessable by
                            public.</p>

                        <form action="end-election/" method="post">
                            {% csrf_token %}
                            <input name="" id="" class="btn btn-danger m-2" type="submit" value="END election">
                        </form>
                        {% else %}
                        <p class="card-text">Election Already Ended.</p>
                        <div class = "text-muted">
                            {{user.election_end_time}}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        {% if not user.election_end_time %}
        <div class="row">
            {% if not user.election_start_time %}
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Add Post</h5>
                        <p class="card-text">
                            Add post by giving a post name and small description
                        </p>
                        <a href="add-post/" class="btn btn-primary">Add Post</a>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Add Candidate</h5>
                        <p class="card-text">
                            Add candidates from Voters already present by providing a mapping to one of the posts.
                        </p>
                        <a href="add-candidate/" class="btn btn-primary">
                            Add Candidate
                        </a>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Remove Post</h5>
                        <p class="card-text">
                            Remove post. You can search for posts or select from given list of Posts.
                        </p>
                        <a href="search-post/" class="btn btn-primary">
                            Remove Post
                        </a>
                    </div>
                </div>
            </div>
            {% endif %}
            
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Remove Candidate</h5>
                        <p class="card-text">
                            Remove Candidate. You can search for posts or select from given list of Candidates.
                        </p>
                        <a href="search-candidate/" class="btn btn-primary">
                            Remove Candidate
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="container">
            <h2 class="lead text-muted">
                total voters = {{vote_stat.total_voters}}
            </h2>
            <h2 class="lead text-muted">
                total voters voted = {{vote_stat.total_voters_voted}}
            </h2>
        </div>
    </section>
</div>

{% endblock %}