{% extends 'base.html' %}


{% block content %}

{% if post %}

<div class="container">
	<section class="jumbotron text-center">
		<div class="container">
			<h1 class="jumbotron-heading">
				{{post.post_name}}
			</h1>
			<p class="lead text-muted">
				{{post.desc}}
			</p>
		</div>
		<form action="/home/del-post/" method="post">
			{% csrf_token %}
			<input type="hidden" name="post_id" value={{post.id}}>
			<input class="btn btn-danger" type="submit" value="Delete Post">
		</form>
	</section>
</div>

{% else %}

<div class="text-center">
	<form class="form" action="" method="post">
		{% csrf_token %}

		<div class="input-group mb-3">
			<input name="post_name" class = "form-control"
			value="" id="post_name" placeholder="Enter Post name here" />
			<div class="input-group-append">
				<button class="btn btn-outline-success" type="submit">Search</button>
			</div>
		</div>
	</form>
</div>

<div class="container">
	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Post</th>
				<th scope="col">
					oper.
				</th>
			</tr>
		</thead>
		<tbody>
			{% for x in posts %}
			<tr>
				<th scope="row">{{forloop.counter}}</th>
				<td>{{x.post.post_name}}</td>
				<td>
					<form class="form" action="" method="post">
						{% csrf_token %}
						<input type="hidden" name="post_name" 
						value="Mental health nurse" id="id_{{x.post.id}}" />
						<div class="input-group-append">
							<button class="btn btn-outline-success" type="submit">Search</button>
						</div>
					</form>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endif %}

{% endblock %}