<!-- Front-end page of search candidate -->

{% extends 'base.html' %}


{% block content %}


{% if candidate %}

<div class="container">
	<section class="jumbotron text-center">
		<div class="container">
			<h1 class="jumbotron-heading">
				{{candidate.voter.first_name}} {{candidate.voter.last_name}}
			</h1>
			<p class="lead text-muted">
				Roll No: {{candidate.voter.rollno}}
			</p>
			<p class="lead text-muted">
				Post : {{candidate.post_applied.post_name}}
			</p>
			<p class="lead text-muted">
				Date added : {{mang_cand.time}}
			</p>

		</div>
		<form action="/home/del-candidate/" method="post">
			{% csrf_token %}
			<input type="hidden" name="rollno" value={{candidate.voter.rollno}}>
			<input class="btn btn-danger" type="submit" value="Delete Candidate">
		</form>
	</section>
</div>

{% else %}

<div class="text-center">
	<form class="form" action="" method="post">
		{% csrf_token %}

		<div class="input-group mb-3">
			{{form.username}}
			<div class="input-group-append">
				<button class="btn btn-outline-success" type="submit">Search</button>
			</div>
		</div>
	</form>
</div>

<div class="container">
	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Rollno</th>
				<th scope="col">Name</th>
				<th scope="col">
					oper.
				</th>
			</tr>
		</thead>
		<tbody>
			{% for x in candidates %}
			<tr>
				<th scope="row">{{forloop.counter}}</th>
				<td>{{x.candidate.voter.rollno}}</td>
				<td>{{x.candidate.voter.first_name}} {{x.candidate.voter.last_name}}</td>
				<td>
					<form class="form" action="" method="post">
						{% csrf_token %}

						{{x.form.username.as_hidden}}
						<div class="input-group-append">
							<button class="btn btn-outline-success" type="submit">Search</button>
						</div>
					</form>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endif %}

{% endblock %}