{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        {% block title %} Home {% endblock %}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        .li {
            list-style: none;
            list-style-type: none;
        }
    </style>
    {% block style %}
    {% endblock style %}

</head>

<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark  align-middle">
        <a class="navbar-brand active" href="/home">Home</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" href=" ">
                        Polls
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href=" ">
                        To-Do
                    </a>
                </li>


                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Welcome !
                        
                        hello
                        {{user.username}}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">LogOut</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                {% endif %}

        </ul>
    </div>

    </nav>
    <div class="container">
        {% if messages %}
        <div class="container">
            {% for msg in messages %}
            {% if msg.tags == "success" %}
            <div class="alert alert-success" role="alert">
                {{msg}}
            </div>
            {% endif %}
            {% if msg.tags == "error" %}
            <div class="alert alert-danger" role="alert">
                {{msg}}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
    </div>

    {% block content %}

    {% endblock %}

</body>

</html>