{% extends 'base.html' %}
{% block content %}

<div class="px-2 py-5 mt-5 text-center row">
    <div class="col-6">
        <h1 class="display-5 fw-bold">
            <a href=" " type="button" class="btn btn-primary btn-lg px-4 gap-3">
                Vote

            </a>
        </h1>
    </div>
    <div class="col-6 mx-auto">
        <p class="lead mb-1">
            Attempts premade questions in any group and view result as its owner ends the poll
        </p>
        <p class="lead mb-1">
            OR
        </p>
        <p class="lead mb-4">
            Make your own groups and questions.
        </p>
    </div>
</div>

<div class="px-2 py-3 mt-5 text-center row">
    <div class="col-6">
        <h1 class="display-5 fw-bold">
            <a href=" " type="button" class="btn btn-primary btn-lg px-4 gap-3">
                Election result

            </a>
        </h1>
    </div>
    <div class="col-6 mx-auto">
        <p class="lead mb-1">
            Attempts premade questions in any group and view result as its owner ends the poll
        </p>
        <p class="lead mb-1">
            OR
        </p>
        <p class="lead mb-4">
            Make your own groups and questions.
        </p>
    </div>
</div>


{% endblock %}