<!-- Main page of the election initially. -->

{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/index_style.css' %}">
{% endblock style %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="home-content">
                <div class="vote">
                    <h1>Vote - Get Started!</h1>
                    <h3>Your Voice Matters!</h3>
                    <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">
                        Get Started !

                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}