{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/home_style.css' %}">
{% endblock %}
{% block content %}
    
    <div class="container">
        {% for post in posts %}
        <div class="jumbotron text-center details">
            <div class="container">
              <h1 class="jumbotron-heading">
                {{post.post_name}}
              </h1>
              <p class="lead text-muted">
                {{post.desc}}
              </p>
              <p>
                <a href="view-post/{{post.id}}" class="btn btn-primary my-2">Vote</a>
              </p>
            </div>
            <div class="container">
                
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>Candidate name</th>
                            <th>Manifesto</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for candidate in candidates %}
                        {% if candidate.post_applied == post %}
                        <tr>
                            <td>
                                {{candidate.voter.first_name}} {{candidate.voter.last_name}}
                            </td>
                            <td>
                                {{candidate.manifesto}}
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                    
                </table>
            </div>
        </div>
        {% endfor %}
    </div>

    {% endblock %}