{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/home_style.css' %}">
{% endblock %}
{% block content %}

<div class="container">
    {% csrf_token %}
    {% for post, candidates in info.items %}

    <div class="jumbotron text-center details">
        <div class="container">
            <h1 class="jumbotron-heading p-2">
                {{post.post_name}}
            </h1>
            <p class="lead text-muted">
                {{post.desc}}
            </p>
        </div>
        {% if candidates %}
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    {% for candidate in candidates %}

                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm card-body">
                            <h4 class="card-title">
                                {{candidate.0.voter.first_name}}
                                {{candidate.0.voter.last_name}}
                            </h4>
                            <div class="card-body">
                                <p class="card-text">
                                    {{candidate.0.manifesto}}
                                </p>
                                <div class="btn-group">
                                    <form action="/home/vote/{{post.id}}/{{candidate.0.voter_id}}" method="POST">
                                        {% csrf_token %}
                                        {% if candidate.1 %}
                                        <button type="submit" class="btn btn-sm btn-success">
                                            VOTED
                                        </button>
                                        {% else %}
                                        <button type="submit" class="btn btn-sm btn-primary"
                                            onclick="return myFunction('Plz Confirm\nyou have selected{{candidate.0.voter.first_name}} {{candidate.0.voter.last_name}}')">
                                            vote
                                        </button>
                                        {% endif %}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endfor %}

                </div>
            </div>
        </div>
        <div class="container">

            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>candidate name</th>
                        <th>manifesto</th>
                    </tr>
                </thead>
                <tbody>
                    {% for candidate in candidates %}
                    {% if candidate.0.post_applied == post %}
                    <tr>
                        <td>
                            {{candidate.0.voter.first_name}}
                        </td>
                        <td>
                            {{candidate.0.manifesto}}
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>

            </table>
        </div>
        {% else %}
        <div>            
            <img src="{% static 'img/voted.jpg' %}" alt="ALREADY VOTED">
        </div>
        <br>
        {% endif %}
    </div>
    {% endfor %}
</div>

<script>
    function myFunction(x) {
        if (confirm(x)) {
           return true;
        } else {
          return false;
        }
    }
</script>


{% endblock %}