{% extends 'base.html' %}
{% block content %}
<div>
    {{candidate}}
</div>
<div class="container">
    {{post}}
</div>
<div class="container">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">
                {{candidate.voter.first_name}} {{candidate.voter.last_name}}
            </h1>
            <p class="lead text-muted">
                {{candidate.voter.rollno}}
            </p>
            <p class="lead text-muted">
                {{post.post_name}}
            </p>
        </div>
        <p>
        <div class="form-group">
            <form action="edit-manifesto/" method="post">
                {% csrf_token %}
                <label for="manifesto">Manifesto :</label>
                <textarea class="form-control" name="manifesto" id="manifesto" cols="10"
                    rows="5">{{candidate.manifesto}}</textarea>
                <button type="submit" class="btn btn-primary my-2">Edit Manifesto</button>
            </form>
        </div>

        </p>
    </section>
</div>

{% endblock %}